.brands {
  display: flex;
  padding: 66px 65px 96px 110px;

  @media (max-width: $tablet-width) {
    padding: 66px 35px 96px 80px;
  }

  @media (max-width: $mobile-width) {
    padding: 30px 0 96px 30px;
  }
}

.brands_brands-list {
  width: 100%;
  display: flex;
  position: relative;
  left: 45px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  @include clear-ul;
  margin-left: -45px;
  margin-top: -60px;

  @media (max-width: $mobile-width) {
    left: 30px;
    margin-left: -30px;
    margin-top: 0;
  }
}

.brands_brands-list-item {
  width: 270px;
  height: 270px;
  margin-right: 45px;
  margin-top: 63px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 30px;

  @media (max-width: $mobile-width) {
    margin-right: 30px;
    margin-top: 30px;
  }
}
