.link {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.8px;
  text-transform: uppercase;
  color: $black;
  text-decoration: underline;

  &:visited {
    color: $black;
  }

  &:hover {
    color: $white;
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: $tablet-width) {
    font-size: 12px;
  }
}
