.logo {
  margin-top: 0;
  margin-bottom: 0;
  display: block;
  width: 387px;
  height: 89px;
  background-image: url("../img/logo.png");
  background-size: 387px 89px;
  background-repeat: none;

  @media (max-width: $tablet-width) {
    width: 193px;
    height: 44px;
    background-size: 193px 44px;
  }

  @media (max-width: $mobile-width) {
    width: 129px;
    height: 29px;
    background-size: 129px 29px;
  }

  &--dark {
    width: 333px;
    height: 77px;
    background-image: url("../img/icon-logo-dark.svg");
    background-size: 333px 77px;

    @media (max-width: $tablet-width) {
      width: 167px;
      height: 39px;
      background-size: 167px 39px;
    }

    @media (max-width: $mobile-width) {

    }
  }
}
