.top-wrapper {
  min-height: 890px;
  display: flex;
  flex-direction: column;

  background: url("../img/index-desktop-bg.jpg") no-repeat 50% 0%/cover $blue;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/index-desktop-bg@2x.jpg");
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/index-desktop-bg.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/index-desktop-bg@2x.jpg");
    }
  }

  @media (max-width: $mobile-width) {
    background-image: url("../img/index-desktop-bg.jpg");
    background-position: 57% 0;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/index-desktop-bg@2x.jpg");
    }
  }
}
